/* Adicione esses estilos no seu arquivo CSS */
.image-container {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
    margin-right: auto; 
    position: contain;
  }

  @media (min-width: 768px) {
    .text-right.md\\:text-left {
      text-align: right;
    }
  }

  .text-with-background {
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo com transparência */
    padding: 6px; /* Ajuste o preenchimento conforme necessário */
    border-radius: 5px; /* Ajuste o raio da borda conforme necessário */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Adicione uma sombra ao texto */
    color: white; /* Cor do texto */
  }
  
  