/* Adicione esses estilos no seu arquivo CSS */
.image-container {
    max-width: 70%;
    height: auto;
    border-radius: 10px;
    margin-right: auto; 
    position: contain;
  }

  @media (min-width: 768px) {
    .text-right.md\\:text-left {
      text-align: right;
    }
  }
  