/* Projects.css */
.modal {
    width: 100%;
    height: auto;
    max-height: 100%;
    overflow: auto;
  }
  
  .close-button {
    display: block;
    margin: 0 auto;
  }
  
  .image-capa {
    width: 100%;
    height: auto;
    max-height: 400px;
  }
  
  .carousel-container {
    position: relative;
  }
  
  .carousel-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  
  .carousel-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .carousel-card:hover .carousel-overlay {
    opacity: 1;
  }
  
  .carousel-image {
    position: relative;
    object-fit: contain;
    width: 70%;
    height: 70%;
    max-width: 100%;
    max-height: 100%;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
 
  
  .project-title {
    font-size: 2.5rem; /* Tamanho da fonte */
    font-weight: bold; /* Peso da fonte */
    color: #ff9900; /* Cor do texto */
    text-transform: uppercase; /* Transforma o texto em maiúsculas */
    letter-spacing: 2px; /* Espaçamento entre letras */
    margin-bottom: 1rem; /* Margem inferior para espaçamento */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra do texto */
  }