/* App.css */
body {
    margin: 0;
    padding: 0;
  }
  
  .app-container {
    position: relative;
  }
  
  .carousel-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  .whatsapp-icon {
    position: fixed;
    bottom: 20px; /* Distância do fundo */
    right: 20px; /* Distância da direita */
    z-index: 1000; /* Garanta que esteja acima do conteúdo */
    display: flex;
    align-items: center;
    color: white;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .whatsapp-icon img {
    width: 54px;
    height: 54px;
    margin-right: 10px;
  }
  
  /* Novo estilo para ajustar a posição do ícone */
  .whatsapp-icon {
    bottom: 20px; /* Distância do fundo */
    right: 20px; /* Distância da direita */
  }
  